@{
    ViewData["Title"] = "Home Page";
}

<div class="mainhero">
    <div class="hero-container">
        <p class="mainsummary">MagMan is an innovative payment network and a new kind of money.</p>
        <div class="btn-container">
            <a class="btn btn-bright btn-home" href="/Login/RegisterUser">Get started with MagMan</a>
        </div>
    </div>
</div>
<div class="main-image">
    <div class="overview">
        <div class="mainoverview-title">Get a quick overview for</div>
        <a href="/en/bitcoin-for-individuals" class="maincard">
            <img class="maincard-img" src="https://bitcoin.org/img/icons/ico_individuals.svg?1563289583" alt="Icon">
            <div>
                <p class="maincard-title">Individuals</p>
                <p class="maincard-link">Learn more</p>
            </div>
        </a>
        <a href="/en/bitcoin-for-businesses" class="maincard">
            <img class="maincard-img" src="https://bitcoin.org/img/icons/ico_business.svg?1563289583" alt="Icon">
            <div>
                <p class="maincard-title">Businesses</p>
                <p class="maincard-link">Learn more</p>
            </div>
        </a>
        <a href="/Home/About" class="maincard">
            <img class="maincard-img" src="https://bitcoin.org/img/icons/ico_developers.svg?1563289583" alt="Icon">
            <div>
                <p class="maincard-title">Developers</p>
                <p class="maincard-link">Learn more</p>
            </div>
        </a>
    </div>
</div>

<div class="maindesc">
    <div class="overview">
        <p class="section-title center home-title" id="maindesc-title">Get started with MagMan</p>
        <div class="row maindesc-row">
            <div>
                <p class="maindesc-text">MagMan uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of MagMans is carried out collectively by the network. <b>MagMan is open-source; its design is public, nobody owns or controls MagMan and <a href="/Login/RegisterUser">everyone can take part</a></b>. Through many of its unique properties, Bitcoin allows exciting uses that could not be covered by any previous payment system.</p>
                <ul class="mainlist">

                    <li class="mainlist-item">
                        <img src="https://bitcoin.org/img/icons/main_ico_instant.svg?1563289583" alt="Icon">
                        <p>Fast peer-to-peer transactions</p>
                    </li>


                    <li class="mainlist-item">
                        <img src="https://bitcoin.org/img/icons/main_ico_worldwide.svg?1563289583" alt="Icon">
                        <p>Worldwide payments</p>
                    </li>


                    <li class="mainlist-item">
                        <img src="https://bitcoin.org/img/icons/main_ico_lowfee.svg?1563289583" alt="Icon">
                        <p>Low processing fees</p>
                    </li>

                </ul>
            </div>
            <img class="maindesc-img" src="~/images/banner-image.png" alt="Bitcoin image">
        </div>
    </div>
</div>
